<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://videolounge.local/VideoLounge"
        version="1.0.0"
        viewmodes="maximized">
    <access origin="*" subdomains="true"/>
    <tizen:application id="VidLounge01.VideoLounge"
                       package="VidLounge01"
                       required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name>Video Lounge</name>
    <description>Personal Video Lounge player for Samsung TV</description>
    <author href="https://github.com/" email="you@example.com">Video Lounge</author>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape"
                   context-menu="enable"
                   background-support="disable"
                   encryption="disable"
                   install-location="auto"
                   hwkey-event="enable"/>
</widget>
